<h1>This is where my calculator will live!!</h1>

{{ form_start(form) }}
    {{ form_widget(form.inputA) }}
    {{ form_widget(form.operator) }}
    {{ form_widget(form.inputB) }}
    {{ form_widget(form.submit) }}
{{ form_end(form) }}