{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    <style>
        * {
            font-size: 1.0em;
            font-family: 'Courier';
        }
        footer {
            font-size: 0.4em;
            color: #fff;
            width: 100%;
            position: fixed;
            bottom: 0em;
            text-align: center;
            background: #999;
            padding: 0.25em;
        }
        .h-50 {
            margin-top: 8em;
        }
        .output_calc {
            padding: 0.25em;
            border: 3px solid #d6d6d6; /* Параметры границы */
            background: #f9f9f9; /* Цвет фона */
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        moveCursorToEnd($('#display_equation'));

        function moveCursorToEnd(input) {
            var originalValue = input.val();
            input.val('');
            input.blur().focus().val(originalValue);
        }

    </script>
{% endblock %}


{% block body %}
<div class="container h-100">
    <div class="Calculator row h-50 row align-items-top">
        <div class="w-100">
            <div>
                {% trans %}Enter the string to extract the radical{% endtrans %}
            </div>
            {{ form_start(form) }}
            <div class="input-group">
                {{ form_widget(form.equation) }}
                <div class="input-group-prepend">
                {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="w-100">
            <div>
                {% trans %}Result{% endtrans %}
            </div>
            <div class="output_calc" style="padding: 7px;">
                <div>
                    {{ result_1 }}
                </div>
                <div>
                    {{ result_2 }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
