{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Let&apos;s calculate.</h1>

    {{ form_start(form) }}
        {{ form_row(form.inputA) }}
        {{ form_row(form.operator) }}
        {{ form_row(form.inputB) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>
{% endblock %}
